<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Montserrat:wght@100;200;300;400&family=Tourney:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Montserrat:wght@100;200;300;400&family=Sofia+Sans+Semi+Condensed:wght@900&family=Tourney:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet">
<style>
    .conver {
        background-color: #C174C3;
        width: 100%;
        width: 1920px;
        height: 1080px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero {
        width: 1440px;
        height: 820px;
        background-color: white;
    }
    .header {
        height: 100px;
        width: 1439px;
        font-family: 'Jost', sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #icon1 {font-size: 36px;
        font-weight: bolder;
    }
    span {color: #C8815F;}
    ul {
        list-style: none;
        display: flex;
        gap:30px;
    }
    .boody {
        width: 1440px;
        height: 620px;
        display: flex;
        position: relative;
        z-index: 1;
    }
    .left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .text1 {
        font-size: 17px;
        padding-top: 150px;
        padding-left: 135px;
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;    
    }
    .text2 {
        font-family: 'Sofia Sans Semi Condensed', sans-serif;
        font-size: 56px;
        width: bold;
        padding-left: 130px;
        line-height: 60px;
    }
    .text3 {
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid #999999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        margin: 20px 100px 200px 135px;
    }
    .arrow {
        padding-top: 300px;
        padding-left: 60px;
        color:#999999
    }
    .arrow2 {
        padding-top: 300px;
        padding-right: 60px;
    }
  
    .right {
        width: 50%;
        height: 100%;
        display: flex;
    }
    .LKO{ font-size: 150px;
        color: white;
        padding-top: 50px;
        font-family: 'Sofia Pro 1000', sans-serif;
        line-height: 120px;
        text-shadow: 0 0 2px rgb(154, 152, 152);
        font-weight: 700;
    }
    .column1 {
        font-size: 30px;
    }
    .column { height: 600px;
        width: 300px;
    
    }
    .small-box {
        background-image: url(Nike\ \(4\).png);
        width: 600px;
        height: 500px;
        margin-left: 20px;
        margin-top: 40px;
    }
    .shadow::before {
        content:"";
        position:absolute;
        bottom: 10px;
        width:550px;
        height: 15px;
        margin-left: 40px;
        background: rgba(178, 177, 177, 0.8);
        border-radius: 0% 100% 96% 4% / 60% 50% 50% 40%;
        z-index:-1;
        filter: blur(5px);
    }
    .absoliute {
        position: absolute;
        }
    .foot {
        height: 100px;
        width: 1439px;
        display: flex;
        justify-content: center;
    }


</style>
</head>
<body>
    <div class="conver">
        <div class="hero">
            <div class="header">
                <div id="icon1">Sneaker<span>.</span></div>
                <ul>
                    <li>Home</li>
                    <li>Shop</li>
                    <li>Products</li>
                    <li>Pages</li>
                    <li>Blog</li>
                    <li>Elements</li>
                </ul>
                <ul>
                    <li><img src="search.png"></li>
                    <li><img src="user.png"></li>
                    <li><img src="heart.png"></li>
                    <li><img src="shopping-bag.png"></li>
                </ul>
            </div>
            <div class="boody">
                <div class="left">
                    <div class="arrow"><img src="arrow-narrow-left-svgrepo-com (3).svg" alt=""></div>
                    <div>
                    <div class="text1">Sneaker Collection</div>
                    <div class="text2"><strong>GOOD SHOES TAKE YOU GOOD PLACE</strong></div> 
                    <div class="text3">Shop now</div>
                    </div>
                </div>
                <div class="right">
                    <div class="column">
                    <div class="small-box shadow absoliute"></div><div class="LKO">NYKEN AIR</div>
                    </div>
                    <div><hr></div>
                    </div>
                    <div class="arrow2 relative"><img src="arrow-narrow-left-svgrepo-com (5).svg" alt=""></div>
                </div>
            <div class="foot">
                <ul>
                <li style="padding-top: 4px;"><img src="R.png"></li>
                <li><img src="5fda75630a1f39f4d8004d12_51-p-500.png"></li>
                <li><img src="5fda75630a1f39f4d8004d12_51-p-500.png"></li>
                </ul>
            </div>
            </div>
        </div>
    
</body>
</html>