

/* Page main content */

html{
scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1  {
  margin: 0;
  padding:80px 50px 20px 50px;
  text-align:center;
  color: rgb(0, 0, 0);
}

p {
  margin: 0;
  text-align:center;
  color: rgb(0, 0, 0);
  font-size:20px;
}


/* Containers */

.container_header {
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  align-items:center;  
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.container_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Header content */

.before_after {
  margin: 30px 70px;
}

.before_after::before {
  content: "+370 600 88779 ";
  font-size: 30px;
  color: rgba(57, 55, 55, 0.89);
  float: left;
}

.before_after::after {
  content: "  info@christmasshop.com ";
  font-size: 30px;
  color: rgba(57, 55, 55, 0.89);
  float: right;
}

.logo {
  border-radius: 50%;
  height: 190px;  
  padding-left: 40px;
}

.header_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
    padding-right: 30px;
}

.header_list a {
  font-size: 30px;
}

/* Navigation decorations */

a {
  text-decoration: dashed;
  font-size: 20px;
  color: rgb(34, 32, 32);
}

a:hover {
  color:rgb(140, 169, 83);
  font-size: 35px;
}

a:visited{
  color: rgba(119, 19, 19, 0.425);
} 

a:active{
  color: rgba(105, 13, 144, 0.935);
}

/* Body content */

    /* section1 */

.section_1 {
  height: 600px;
  background: url(images/christmas.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 141px 200px -80px rgba(73, 54, 32, 0.586);
}
    
.frame_1 {
    background-color: #58565496;
    color: rgba(85, 55, 33, 0.105);
    height: 600px;
    
  }
    
 .first_block_title {
    font-weight: bold;
    color: rgb(247, 229, 229);
    width: 400px;
    font-size: 40px;
    margin:auto
 }

 .first_block_content {
    font-weight: bold;
    color: rgb(247, 229, 229);
    width: 600px;
    font-size: 30px;
    margin:auto
 }

    /* section2 */

.section_2 {
       min-height: 1050px;
       background: rgba(248, 188, 147, 0.298)
    } 

  .second_block_title {
    font-weight: bold;
    color: rgba(57, 55, 55, 0.89);
    font-size: 40px;
  }
  
  .second_block_content {
    font-weight: bold;
    color:rgba(57, 55, 55, 0.89);
    width: 800px;
    font-size: 30px;
  }

  .flex2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
  }

  .toyimage {
    background-image: url(images/toy.webp);
    width: 500px;
    height: 600px;
    background-position: center;
    box-shadow: 0px 141px 200px -80px rgba(73, 54, 32, 0.796);
    border-radius: 50px 50px 50px 50px;
    margin-left: 30px;
  }
  
  .frame_2 {
    background-color: rgba(176, 121, 99, 0.346);
    width: 500px ;
    height: 5000;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    box-shadow: 0px 141px 200px -80px rgba(73, 54, 32, 0.796);
    border-radius: 50px 50px 50px 50px;
  }

  .text_a {
    color:  rgb(40, 16, 4);
    font-size: 30px;
    padding: 0%;
    margin-top: 3cm;
  }
  
  .text_aa {
    color:   rgb(40, 16, 4);
    font-size: 22px;
    padding: 0%;
    margin: 40px 30px 30px 40px
    
  }
  
  .text_aaa {
    color:    rgb(40, 16, 4);
    font-size: 19px;
    padding: 0%;
    margin: 40px 30px 30px 40px
  }

 /* section3 */

 .section_3 {
    height: 600px;
    background: url(images/light.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 141px 200px -80px rgba(32, 44, 73, 0.556);
}
    
.frame_3 {
    background-color: #58565496;
    color: rgba(85, 55, 33, 0.105);
    height: 600px;
  }
    
  .third_block_title {
    font-weight: bold;
    color: rgb(247, 229, 229);
    width: 500px;
    font-size: 40px;
    margin: auto;
 }

 .third_block_content {
    font-weight: bold;
    color: rgb(247, 229, 229);
    width: 600px;
    font-size: 30px;
    margin: auto;
 }

 /* section4 */

 .section_4 {
    background: rgba(202, 196, 182, 0.539);
    min-height: 1100px;
} 

.fourth_block_title {
    font-weight: bold;
    color: rgba(57, 55, 55, 0.89);
    width: 500px;
    font-size: 40px;
    margin: auto;
 }

 .fourth_block_content {
    font-weight: bold;
    color: rgba(57, 55, 55, 0.89);
    width: 750px;
    font-size: 30px;
    margin: auto;
 }

.candles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.candles .block {
  flex: 0,0,50%;
}

.candle_text h1{
  margin: 0;
  padding:30px 50px 20px 50px;
  text-align:center;
  color: rgb(0, 0, 0);
}


  .candle_1 {
    background-image: url(images/candle1.webp);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    background-position: center;
    box-shadow: 0px 141px 200px -30px rgba(214, 181, 126, 0.991);
    border-radius: 50px 50px 50px 50px;
  }
  
  .candle_2 {
    background-image: url(images/candle2.webp);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    background-position: center;
    box-shadow: 0px 141px 200px -30px rgba(214, 181, 126, 0.991);
    border-radius: 50px 50px 50px 50px;
  }
  
  .candle_3 {
    background-image: url(images/candle3.webp);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    background-position: center;
    box-shadow: 0px 141px 200px -30px rgba(214, 181, 126, 0.991);
    border-radius: 50px 50px 50px 50px;
  }

  .candle_4 {
    background-image: url(images/candle4.webp);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    background-position: center;
    box-shadow: 0px 141px 200px -30px rgba(214, 181, 126, 0.991);
    border-radius: 50px 50px 50px 50px;
  }

.candle_decription  {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  }

.candle_text {
  width: 300px;
  color: rgb(177, 103, 103);
    
}

 /* section5 */

 .section_5 {
  height: 850px;
  background: url(images/blanket.webp); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 141px 200px -80px rgba(73, 54, 32, 0.586);
}
  
.frame_5 {
  background-color: #58565496;
  color: rgba(85, 55, 33, 0.105);
  height: 850px;
}
  
.fifth_block_title {
  font-weight: bold;
  color: rgb(247, 229, 229);
  width: 500px;
  font-size: 40px;
  margin: auto;
}

.fifth_block_content {
  font-weight: bold;
  color: rgb(247, 229, 229);
  width: 600px;
  font-size: 30px;
  margin: auto;
}

 /* section6 */   

 .section_6 {
  min-height: 850px;
  background: rgba(248, 188, 147, 0.298)
} 

.six_block_title {
font-weight: bold;
color: rgba(57, 55, 55, 0.89);
font-size: 40px;
}

.flex2 {
display: flex;
justify-content: space-between;
flex-direction: row-reverse;
gap: 10px;
}

.map {
background-image: url(images/map.png);
width: 500px;
min-height: 600px;
background-position: center;
box-shadow: 0px 141px 200px -80px rgba(73, 54, 32, 0.796);
border-radius: 50px 50px 50px 50px;
}

.frame_6 {
background-color: rgba(176, 121, 99, 0.346);
width: 500px ;
min-height: 600px;
padding-left: 20px;
padding-right: 10px;
align-items: center;
box-shadow: 0px 141px 200px -80px rgba(73, 54, 32, 0.796);
 border-radius: 50px 50px 50px 50px;
}

.flex_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 20px;
}

img {
  height: 60px;
}

.icon_title {
  font-size: 23px;
  text-align: center;
  padding-top: 10px;
}

.icon_text {
  color: #DD5471;
  font-size: 25px;
  text-align: center;
  padding: 10px 40px;
}

/* Footer content */

footer{
    display: flex;
    justify-content:center;
    align-items: center; 
    padding: 30px;
}

.footer_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.rights_reserved{
    text-align: center;
}
